* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

span {
    font-weight: bold;
    width: 50px;
}

#start-game {
    background-image: url('img/back.jpg');
    background-clip: border-box;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#divEnd {
    background-image: url('img/back.jpg');
    background-clip: border-box;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    opacity: 0;
}

button {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 30%;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 2px;
}

button:hover {
    background-color: grey;
}